body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: violet;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.header {
  height: 40px;
  display: flex;
  align-items: center;
  background-color: #fdfdfd;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header__logo {
  font-size: large;
  color: rgb(144, 1, 201);
  width: 100px;
  object-fit: contain;
  margin: 0 20px;
  margin-top: 18px;
}
.header__nav {
  display: flex;
  justify-content: space-evenly;
}

.header__option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: rgb(10, 10, 10);
}

.home__row {
  display: flex;
  z-index: 1;
  margin-left: 5px;
  margin-right: 5px;
}
.product {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  z-index: 1;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
  padding: 20px;
  width: 100%;
  max-height: 400px;
  min-width: 100px;
}
.selection {
  display: flex;
  border: 2px rgb(212, 19, 19) solid;
  width: 500px;
}
.display {
  display: flex;
  float: top right;
  border: 2px rgb(212, 19, 19) solid;
  width: 500px;
}
